<div class='mt-4'>
  <div class='row'>
    {{#each posts}}
      <div class='col-sm-6 col-lg-4'>

        <div class='card card-course-item'>
          <a href='/post/{{this.slug}}'><img
              src='{{this.image}}'
              class='card-img-top'
              alt='...'
            /></a>
          <div class='card-body'>
            <h5 class='card-title'>{{this.title}}</h5>
            <p class='card-text'>{{this.description}}</p>
            <a href='#' class='btn btn-primary'>View Post</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>